@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="border rounded p-3 mb-3 border border-primary">
    <a asp-page="/Privacy" asp-route-Name="Evan" asp-route-Age="20">
        Happy birthday Evan!
    </a>
</div>
<div class="border rounded p-3 mb-3 border border-primary">
    <h3>GET</h3>
    <form method="get" asp-page="/Privacy">
        Name
        <input id="getName" name="Name"/>
        Age
        <input id="getAge" name="Age"/>
        <button type="submit">Submit</button>
    </form>
</div>
<div class="border rounded p-3 mb-3 border border-primary">
    <h3>CROSS POST</h3>
    <form method="post" asp-page="/Privacy">
        Name
        <input id="getName" name="Name" />
        Age
        <input id="getAge" name="Age" />
        <button type="submit">Submit</button>
    </form>
</div>
<div class="border rounded p-3 mb-3 border border-primary">
    <h3>POSTBACK</h3>
    <form method="post">
        Name
        <input id="getName" name="Name" />
        Age
        <input id="getAge" name="Age" />
        <button type="submit">Submit</button>
    </form>
</div>
